services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: server
    profiles: ['sqlite']
    ports:
      - '${PORT}:${PORT}'
    depends_on:
      loki:
        condition: service_started
    restart: unless-stopped
    env_file: .env
    command: >
      sh -c "
       set -e
       if [ -n \"$SETUP\" ]; then
         bun migrate && bun seed
       fi
       if [ \"$NODE_ENV\" = \"prod\" ]; then
         bun src/app.ts
       else
         bun dev --watch
       fi
       "
    logging:
      driver: loki
      options:
        loki-url: 'http://127.0.0.1:3100/loki/api/v1/push'
        loki-external-labels: 'job=server'
        loki-pipeline-stages: |
          - json:
              expressions:
                level: level
          - labels:
              level:
    volumes:
      - ./src:/bookshop-server/src
      - sqlite_data:/bookshop-server/data

  server-with-mongo:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: server-with-mongo
    profiles: ['mongo']
    ports:
      - '${PORT}:${PORT}'
    depends_on:
      mongodb:
        condition: service_started
      loki:
        condition: service_started
    restart: unless-stopped
    env_file: .env
    command: >
      sh -c "
       set -e
       if [ -n \"$SETUP\" ]; then
         bun seed
       fi
       if [ \"$NODE_ENV\" = \"prod\" ]; then
         bun src/app.ts
       else
         bun dev --watch
       fi
       "
    logging:
      driver: loki
      options:
        loki-url: 'http://127.0.0.1:3100/loki/api/v1/push'
        loki-external-labels: 'job=server-with-mongo'
        loki-pipeline-stages: |
          - json:
              expressions:
                level: level
          - labels:
              level:
    volumes:
      - ./src:/bookshop-server/src

  mongodb:
    image: mongo
    container_name: mongodb
    profiles: ['mongo']
    ports:
      - '27017:27017'
    logging:
      driver: 'loki'
      options:
        loki-url: 'http://127.0.0.1:3100/loki/api/v1/push'
        loki-external-labels: 'job=mongodb'
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped

  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    command: redis-server --maxmemory 128mb --maxmemory-policy noeviction

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: worker
    profiles: ['sqlite']
    depends_on:
      redis:
        condition: service_started
      server:
        condition: service_started
      loki:
        condition: service_started
    restart: unless-stopped
    env_file: .env
    command: >
      sh -c "
       set -e
       echo '*/30 * * * * cd /bookshop-server && /usr/local/bin/bun src/scripts/cleanupTokens.ts' > /etc/crontabs/root
       crond &
       bun worker:email
       "
    logging:
      driver: loki
      options:
        loki-url: 'http://127.0.0.1:3100/loki/api/v1/push'
        loki-external-labels: 'job=worker'
        loki-pipeline-stages: |
          - json:
              expressions:
                level: level
          - labels:
              level:
    volumes:
      - ./src:/bookshop-server/src
      - sqlite_data:/bookshop-server/data

  worker-with-mongo:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: worker-with-mongo
    profiles: ['mongo']
    depends_on:
      redis:
        condition: service_started
      server-with-mongo:
        condition: service_started
      loki:
        condition: service_started
    restart: unless-stopped
    env_file: .env
    command: >
      sh -c "
       set -e
       echo '*/30 * * * * cd /bookshop-server && /usr/local/bin/bun src/scripts/cleanupTokens.ts' > /etc/crontabs/root
       crond &
       bun worker:email
       "
    logging:
      driver: loki
      options:
        loki-url: 'http://127.0.0.1:3100/loki/api/v1/push'
        loki-external-labels: 'job=worker-with-mongo'
        loki-pipeline-stages: |
          - json:
              expressions:
                level: level
          - labels:
              level:
    volumes:
      - ./src:/bookshop-server/src

  loki:
    image: grafana/loki
    container_name: loki
    ports:
      - '3100:3100'
    volumes:
      - loki-data:/loki
      - ./loki-config.yaml:/etc/loki/loki-config.yaml
    command: -config.file=/etc/loki/loki-config.yaml
    restart: unless-stopped

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - '5555:3000'
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - grafana-data:/var/lib/grafana
    restart: unless-stopped
    depends_on:
      loki:
        condition: service_started

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    depends_on:
      loki:
        condition: service_started
    ports:
      - '80:80'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

volumes:
  sqlite_data:
  mongodb_data:
  loki-data:
  grafana-data:
